footer {
  background: #343a40;
}

footer p {
  line-height: 1.6;
}

footer a {
  transition: background-color 0.3s ease;
}

footer a:hover {
  color: #ced4da;
}

/* General footer styling */
footer h4,
footer p,
footer a,
footer li {
  color: #f8f9fa;
}

footer ul,
footer p,
footer h4,
footer a,
footer address {
  max-width: 300px;
  min-width: 200px;
}

footer h4,
footer p,
footer a {
  font-family: 'Roboto', sans-serif;
}
