/* ========== Hero Section Styles ========== */

/* Hero Section Layout & Background */
#hero {
  position: relative; /* Allows us to position the overlay */
  background: #e9f4fb; /* Fallback for when the image fails to load */
  padding-top: 207px;
  padding-bottom: 101px;
  background-position: center;
  background-size: cover;
  height: 100%;
}

/* Hero Section Overlay */
#hero .overlay {
  position: absolute; /* Positions the overlay inside of the hero */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(220, 225, 230, 0.5);
  z-index: 1; /* Ensures this is behind the text */
}

/* Hero Section Typography */
#hero h1,
#hero h2,
#hero p,
#hero a {
  position: relative; /* Ensures text and links are above the overlay */
  z-index: 2;
}

#hero h2 {
  font-family: 'Roboto', sans-serif;
}

/* ========== Text Section Styles ========== */

/* Text Section Layout & Background */

.textSection .icon {
  margin: 0 auto;
  margin-bottom: 10px;
  display: block;
  font-size: 36px;
}

/* Text Section Typography */
.textSection h2 {
  line-height: 1.3;
}

.textSection p {
  line-height: 1.6;
  max-width: 800px;
  margin: 15px auto;
}

/* Text Section Button Styling */
.textSection .btn {
  margin: 20px auto;
}

/* ========== General Section Styling ========== */

.section {
  padding: 60px 20px;
}

/* General Typography for Sections */

.section h2 {
  font-size: 28px;
}

.section p {
  font-size: 18px;
}
